body {
  font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
  margin: 0;
  min-width: 700px;
  padding: 10px
}

h2 {
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: rgb(42, 60, 94);
}

a:hover {
  background: url('../images/bg-hatchlines.png') repeat-x;
  color: white;
  border-radius: 3px;
}

header {
  box-sizing: border-box;
  padding: 5px 20px;
  height: 38px;
  background: url('../images/bg-hatchlines.png');
  color: white;
  border-radius: 6px;
}

header a, a.right{
  color: lightgrey;
  line-height: 28px;
  vertical-align: middle;
}

header a.right:hover{
  color: white;
}

ul{
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

li{
  position: relative;
  overflow: hidden;
  border-bottom:  1px solid whitesmoke;
  margin-top: 15px;
}

.profile{
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 5px 5px 0;
}

.right{
  float: right;
  color: grey;
}

.name{
  font-weight: bold;
}

.activity{
  display: inline-block;
  width: 80%
}

.date.absolute{
  display: none;
}

.date.relative:hover{
  color: white;
  width: 0;
  height: 0;
}

.date.relative:hover + .date.absolute{
  display: inline-block;
}